.public-profile__badges {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.h2{
    font-size: 2rem;
}

.h5{
    font-size: 1.25rem;
}

section{
    padding-bottom: 0.65rem;
}

article{
    padding-bottom: 0.75rem;
}

.public-profile__badge {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 250px;
    min-height: 210px;
    min-width: 130px;
    margin: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
}

.avatar {
    border: 15px solid #cdd4fb;

    border-radius: 50%;
    
    display: block;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: black;
}

.newWindow {
    display:inline-block;
    margin-left:5px;
    margin-top: 5px;
    position: relative;
    border: 1px solid;
    width: 15px;
    height: 15px;
  }
  
  .newWindow:after {
    position: absolute;
    top:-8px;
    right:-2px;
    font-size:15px;
    content:"\1f855";
  }
  
  .newWindow:before {
    position: absolute;
    top: -3px;
    right: -3px;
    content: " ";
    border: 6px solid white;
  }



/* Style all font awesome icons */
.social .fa {
    padding: 10px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .social .fa:hover {
    text-decoration: none;
    color: #003d7f;
    font-size: 30px;
 
  }

a:hover {
    color: #012e5f;
 }
  